.formulario{
    padding-left: 30%;
    padding-right: 30%;
    margin-top: 10%;
}
body {
    margin: 0; /* Eliminar el margen por defecto del body */
  }
  
  .content {
    padding-top: 60px; /* Espacio superior para evitar que el contenido quede debajo del menú */
  }
  