<div class="d-flex justify-content-center align-items-center ">
    <div class="d-flex align-items-stretch">
      <div class="card p-4 shadow m-2" style="width: 400px;">
        <h2 class="mb-4 text-center">{{ ventaForm.value.id ? 'Editar Venta' : 'Crear Venta' }}</h2>
        <form [formGroup]="ventaForm" (ngSubmit)="guardar()">
          <div class="form-group">
            <label for="idCliente">ID Cliente</label>
            <input type="text" id="idCliente" formControlName="idCliente" class="form-control">
            <div *ngIf="ventaForm.get('idCliente')?.invalid && (ventaForm.get('idCliente')?.dirty || ventaForm.get('idCliente')?.touched)"
              class="text-danger">
              <div *ngIf="ventaForm.get('idCliente')?.errors?.['required']">ID Cliente es requerido.</div>
            </div>
          </div>
          <div class="form-group">
            <label for="idProducto">ID Producto</label>
            <input type="text" id="idProducto" formControlName="idProducto" class="form-control">
            <div *ngIf="ventaForm.get('idProducto')?.invalid && (ventaForm.get('idProducto')?.dirty || ventaForm.get('idProducto')?.touched)"
              class="text-danger">
              <div *ngIf="ventaForm.get('idProducto')?.errors?.['required']">ID Producto es requerido.</div>
            </div>
          </div>
          <div class="form-group">
            <label for="cantidad">Cantidad</label>
            <input type="number" id="cantidad" formControlName="cantidad" class="form-control">
            <div *ngIf="ventaForm.get('cantidad')?.invalid && (ventaForm.get('cantidad')?.dirty || ventaForm.get('cantidad')?.touched)"
              class="text-danger">
              <div *ngIf="ventaForm.get('cantidad')?.errors?.['required']">Cantidad es requerida.</div>
              <div *ngIf="ventaForm.get('cantidad')?.errors?.['min']">Cantidad debe ser mayor que 0.</div>
            </div>
          </div>
          <div class="form-group">
            <label for="totalNeto">Total Neto</label>
            <input type="number" id="totalNeto" formControlName="totalNeto" class="form-control">
          </div>
          <div class="form-group">
            <label for="iva">IVA</label>
            <input type="number" id="iva" formControlName="iva" class="form-control">
          </div>
          <div class="form-group">
            <label for="total">Total</label>
            <input type="number" id="total" formControlName="total" class="form-control">
          </div>
          <div class="form-group">
            <label for="fecha">Fecha</label>
            <input type="date" id="fecha" formControlName="fecha" class="form-control">
            <div *ngIf="ventaForm.get('fecha')?.invalid && (ventaForm.get('fecha')?.dirty || ventaForm.get('fecha')?.touched)"
              class="text-danger">
              <div *ngIf="ventaForm.get('fecha')?.errors?.['required']">Fecha es requerida.</div>
            </div>
          </div>
          <div class="form-group mt-3">
            <button type="submit" class="btn btn-primary w-100" [disabled]="ventaForm.invalid">Guardar</button>
          </div>
          <div class="form-group mt-3">
            <button type="button" class="btn btn-secondary w-100 " (click)="limpiarFormulario()">Cancelar</button>
          </div>
        </form>
      </div>
  
      <div class="card p-4 shadow m-2" style="flex: 1;">
        <h2>Ventas registradas</h2>
        <table class="table">
          <thead>
            <tr>
              <th>ID</th>
              <th>ID Cliente</th>
              <th>ID Producto</th>
              <th>Cantidad</th>
              <th>Total Neto</th>
              <th>IVA</th>
              <th>Total</th>
              <th>Fecha</th>
              
              <th>Opciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let venta of ventas">
              <td>{{ venta.id }}</td>
              <td>{{ venta.idCliente }}</td>
              <td>{{ venta.idProducto }}</td>
              <td>{{ venta.cantidad }}</td>
              <td>{{ venta.totalNeto }}</td>
              <td>{{ venta.iva }}</td>
              <td>{{ venta.total }}</td>
              <td>{{ venta.fecha }}</td>
              <td>
                <button class="btn btn-primary btn-sm" (click)="editar(venta)">
                  Editar
                </button>
                <button class="btn btn-danger btn-sm" (click)="eliminar(venta)">
                  Eliminar
                </button>
             
  